@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

.form-todo-block{
    margin-bottom: 20px;
}
.form-todo-block > input{
    font-weight: bold;
    padding: 2px 0 0 5px;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: none;
    font-family: 'Mukta', sans-serif;
}
.form-todo-block > .button-form{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    transition: 0.5s;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.form-todo-block > .button-form:hover{
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.85);
    color: black;
}