@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');


.todo-page-block {
    height: 100vh;
    background: url("https://wallpapercave.com/wp/wp3992894.jpg") no-repeat center/cover;
}
.todo-info-block{
    margin-top: 45vh;
    display: flex;
    justify-content: center;
    color: white;
    animation: todo-block-details 3s 1;
}
@keyframes todo-block-details {
    0%{
        margin-left: 1000px;
    }
}
.todo-info-block > div{
    width: content-box;
    height: 30px;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 60px;
}
.todo-info-block > div > div{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}